DATABASE_URL=
DB_CONNECTION_LIMIT=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
GEMINI_API_KEY=
JWT_EXPIRES_IN=
JWT_SECRET=
ML_API_KEY=
ML_SERVICE_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
SESSION_SECRET=
SIMULATION_MODE=